.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 900px;

}
h1{
    font-size: 35px;
    text-align: left;
    margin-left: -850px;
    color: black;
}
.nav ul{
    overflow: auto;
    display: flex;
}
.nav ul li{
    list-style-type: none;
    margin: 13px 20px;
    color: black;
    font-size: 20px;
    display: inline-block;
}
.nav ul li :hover{
    background-color: red;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out ;
}