


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blanchedalmond;
  padding-left: 900px;
  z-index: 1;
  position: sticky;
  left: 50%;
  overflow: hidden;
}
h1{
  font-size: 35px;
  text-align: left;
  margin-left: -850px;
  color: black;
}
.nav ul{
  overflow: auto;
  display: flex;
}
.nav ul li {
  list-style-type: none;
  margin: 13px 20px;
  color: black;
  font-size: 20px;
  display: inline-block;
}
.nav ul li a{
  text-decoration: none;
  color: black;
}
.nav ul li a:hover{
  color: white;
  transition: all 0.2s ease-in-out ;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  color: black;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.footer {
  padding: 2rem 6rem;
  background: rgb(229, 216, 216);
  color: black;
  position: relative;
  margin-top: 13rem;
}
.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top a {
  color: black;
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}
.top .socialMediaIcons:hover {
  color: white;
}
.bottom {
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom div {
  display: flex;
  flex-direction: column;
}
.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 .8rem 0;
}
.bottom a {
  text-decoration: none;
  color: black;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}
.home h1{
  position: relative;

}
h2{
  z-index: 1;
  position: absolute;
  top: 51%;
  bottom: 100%;
  left: 35%;
  color: whitesmoke;
  font-size: 90px;
}
img{
  width:100%;
   height:50%;
   position:relative;
   opacity: 0.9;
   background-size: cover;
   overflow: hidden;
}
.image-with-content {
  display: flex;
  align-items: center;
}
.about  p{
  font-size: 18px;
}

.image-container {
  margin-right: -10px;
  margin-top: 26px;
  height: 50%;
  width: 70%;

}
.image-container img{
  height: 300px;
  width: 278px;
  object-fit: cover;
  margin-left: 50px;
  box-shadow: 2px 10px 10px 5px black;
  
}
.image-container :hover{
  transform: scale(1.1);
  transition: 0.3s ease;
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  justify-content: space-evenly;
  gap: 10px;
  
}

span{
  font-size: 25px;
  font-weight: bold;
  color: tomato;
}
.card{
  box-shadow:0 0 10px black;
  width:28vw;
  height: 75vh;
  background: whitesmoke;
}
.container :hover{
  background-color: darksalmon;
  transition: all 0.2s ease-in-out;
}
button{
  background-color: black;
  color: white;
  font-size: 20px;
  margin-left: 150px;
}
h6{
  color: black;
  text-align: center;
  font-size: 20px;
}
p{
  color: black;
  text-align: center;
}
.carousel .slide {
  background-color: #f0f0f0; 
}

.carousel .slide img {
  max-height: 800px; 
}

.legend {
  color: #fff; /* Example text color */
  background-color: transparent 0 black;
  padding: 10px;
  font-size: 18px;
}
h7{
  font-weight: bold;
  margin-top: 10px;
  font-size: 25px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 0 auto;
  margin-top: 111px;
}

label {
  margin-bottom: 10px;
  font-size: 20px;
}

input,
textarea {
  padding: 10px 140px;
  margin-top: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.btn  button {
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: red;
}





@media screen and (max-width: 768px) {
  .footer {
    padding: 4rem 2rem;
}
.top a {
  font-size: 1.8rem;
}
.bottom div {
  width: 50%;
}
.nav ul {
  display: none;
}

.hamburger {
  display: flex;
}

}

